{% extends 'base.html' %}
{% block title %}LIST OF GROUPS {% endblock %}

{% block content %}

<form action="{% url 'group-add' %}" method="get">
    <button class="btn btn-primary" type="submit">Add Group</button>
</form>

<form action="{% url 'group-list' %}" method="get">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input aria-describedby="basic-addon1" aria-label="Username" class="form-control" name="q"
               placeholder="SEARCH GROUP" type="text">
    </div>
    <button class="btn btn-success" type="submit">Search</button>
</form>
{% for group in group_list %}
<h1>{{group.name}}</h1>
{% endfor %}
<table class="table table-striped">
    <tr>
        <td scope="col"><h4>ID</h4></td>
        <td scope="col"><h4>Group Name</h4></td>
        <td scope="col"><h4>Senior</h4></td>
        <td scope="col"><h4>Curator</h4></td>


        {% for group in group_list %}
    <tr>
        <td><a href="{% url 'group-edit' pk=group.id %}">{{ group.id }} </a></td>
        <td>{{group.group_name}}</td>
        <td>{{group.senior.first_name}} {{group.senior.last_name}}</td>
        <td>{{group.curator.first_name}} {{group.senior.last_name}}</td>

        <td>
            <a href="{% url 'group-edit' pk=group.id %}">Edit</a>
            <br>
            <a href="{% url 'group-delete' pk=group.id %}">Delete</a>

        </td>

    </tr>
    {% endfor %}
</table>

{% endblock content %}

